<div class="image-container">
    <img src="/images/first.webp" alt="Picture of View">
    <div class="over-text">Experience the joy of home-cooked meals with  Home Recipe, where every recipe is a blend of tradition and taste</div>
</div>
<div class="text2">
    <p>@ViewBag.Recipe</p>
</div>
<div class="t-images">
    <div class="image-box">
        <img src="/images/biryani.webp" alt="Image 1">
        <div class="image-text">Biryani</div>
    </div>
    <div class="image-box">
        <img src="/images/daal.jpg" alt="Image 2">
        <div class="image-text">Daal chawal</div>
    </div>
    <div class="image-box">
        <img src="/images/saagf.jpg" alt="Image 3">
        <div class="image-text">Makhani Saag</div>
    </div>
</div>
<div class="t-images">
    <div class="image-box">
        <img src="/images/bfi.webp" alt="Image 4">
        <div class="image-text">Butter Chicken</div>
    </div>
    <div class="image-box">
        <img src="/images/Desserts.jpg" alt="Image 5">
        <div class="image-text">Desserts</div>
    </div>
    <div class="image-box">
        <img src="/images/ice.jpg" alt="Image 6">
        <div class="image-text">Ice Cream</div>
    </div>
</div>