<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/first.css" rel="stylesheet" />

    <title>House Recipe</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav>
                <a href="/Home/index">Home</a>
                <a href="/Home/about">About</a>
                <a href="/Home/services">Services</a>
                <a href="#gallery">Gallery</a>
                <a href="#contact">Contact Us</a>
            </nav>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>





    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Home Made Recipe</h2>
                <p>Home Recipe is your go-to source for genuine, homemade recipes that transform simple ingredients into delightful dishes.</p>
            </div>
            <div class="footer-section contact">
                <h2>Contact Us</h2>
                <p>Email: sahilfareed667gmail.com</p>
                <p>Phone: 03044565432</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Home Made Recipe
        </div>
    </footer>
</body>
</html>